@import "../../styles/variableImporter.scss";

.login_page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .login_card {
        width: 45%;
        @include breakpoint(medium) {
            width: 65%;
        }
        @include breakpoint(small) {
            width: 80%;
        }
        padding: $padding-size-medium;
        .input_span {
            margin-bottom: $margin-size-large;
        }
        .login_card_footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $padding-size-xxsmall;
        }
        .login_card_header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
